/*.App {*/
/*  display: flex;*/
/*  text-align: center;*/
/*}*/

/*.App > div {*/
/*  !*margin-right: 150px;*!*/
/*  margin: 20px*/
/*}*/

/*границы input при ошибке*/
/*.error {*/
/*  border: red 1px solid;*/
/*}*/

/*вывод ошибки*/
/*.error-message {*/
/*  color: red;*/
/*}*/

/*подсветка кнопки фильтра*/
/*.active-filter {*/
/*  background-color: #0000ff;*/
/*}*/

.completedTask {
  opacity: 0.9;
  color: #5d5a5a;
}

body {
  background-image: url("../Img/146336-2560x1440.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.todoList {
  opacity: 0.9;
}
