.App {
  display: flex;
  text-align: center;
}

.App > div {
  /*margin-right: 150px;*/
  margin: 20px
}

/*границы input при ошибке*/
.error {
  border: red 1px solid;
}

/*вывод ошибки*/
.error-message {
  color: red;
}

/*подсветка кнопки фильтра*/
.active-filter {
  background-color: blue;
}

/*выделение completed task*/
.completed-task {
  opacity: 0.7;
  color: #5d5a5a;
}